Submit a notebook that clearly addresses the following, using code and markdown chunks:

1. Describe the data, particularly what an observation is and whether there are any missing data that might impact your analysis. Who collected the data and why? What known limitations are there to analysis? (10/100 pts)
2. Describe the variables you selected to predict mortality and life expectancy, and the rationale behind them. Analyze your variables using describe tables, kernel densities, scatter plots, and conditional kernel densities. Are there any patterns of interest to notice? (10/100 pts)
3. Using your variables to predict mortality using a k-Nearest Neighbor Classifier. Analyze its performance and explain clearly how you select k. (10/100 pts)
4. Using your variables to predict life expectancy using a k-Nearest Neighbor Regressor. Analyze its performance and explain clearly how you select k. (10/100 pts)
5. Describe how your model could be used for health interventions based on patient characteristics. Are there any limitations or risks to consider? (10/100 pts)

Our variables: calories, proteins, carbs, and fats

In [1]:
import pandas as pd 
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt

### Question 1

In [5]:
mdf = pd.read_csv('linked_mortality_file_1999_2000.csv') 
print( mdf.head() )
gdf = pd.read_sas("DEMO.xpt", format="xport") 
print( gdf.head() )
df = gdf.merge(mdf, on="SEQN", how="inner") 


food = pd.read_sas("DRXTOT.xpt", format="xport") 
print(food.head())
X = df.merge(food, on="SEQN", how="left") 
X.head()

   SEQN  ELIGSTAT  MORTSTAT  UCOD_LEADING  DIABETES  HYPERTEN  PERMTH_INT  \
0     1         2       NaN           NaN       NaN       NaN         NaN
1     2         1       1.0           6.0       0.0       0.0       177.0
2     3         2       NaN           NaN       NaN       NaN         NaN
3     4         2       NaN           NaN       NaN       NaN         NaN
4     5         1       0.0           NaN       NaN       NaN       244.0

   PERMTH_EXM
0         NaN
1       177.0
2         NaN
3         NaN
4       244.0
   SEQN  SDDSRVYR  RIDSTATR  RIDEXMON  RIAGENDR  RIDAGEYR  RIDAGEMN  RIDAGEEX  \
0   1.0       1.0       2.0       2.0       2.0       2.0      29.0      31.0
1   2.0       1.0       2.0       2.0       1.0      77.0     926.0     926.0
2   3.0       1.0       2.0       1.0       2.0      10.0     125.0     126.0
3   4.0       1.0       2.0       2.0       1.0       1.0      22.0      23.0
4   5.0       1.0       2.0       2.0       1.0      49.0     597.0     597.0

   RIDRETH1  RIDRETH2  ...      WTIREP43      WTIREP44      WTIREP45  \
0       4.0       2.0  ...  10094.017100   9912.461855   9727.078709
1       3.0       1.0  ...  27186.728682  27324.345051  28099.663528
2       3.0       1.0  ...  43993.193099  44075.386428  46642.563799
3       4.0       2.0  ...  10702.307249  10531.444441  10346.119327
4       3.0       1.0  ...  93164.782430  92119.608772  95388.490406

       WTIREP46      WTIREP47      WTIREP48      WTIREP49      WTIREP50  \
0  10041.524113  9.953956e+03   9857.381983   9865.152486  10327.992682
1  27757.066921  2.804929e+04  26716.602006  26877.704909  27268.025234
2  44967.681579  4.457248e+04  44087.945688  44831.370881  44480.987235
3  10636.063039  5.397605e-79  10533.108939  10654.749584  10851.024385
4  94131.383538  9.529781e+04  91325.082461  91640.586117  92817.926915

       WTIREP51      WTIREP52
0   9809.165049  10323.315747
1  27406.383620  26984.812909
2  45389.112766  43781.905637
3  10564.981435  11012.529729
4  94282.855382  91993.251203

[5 rows x 144 columns]
   SEQN         WTDRD1       WTDR4YR  DRDDRSTS  DRDEXMER  DRASCST2  DRDAINMD  \
0   1.0   14809.893854   6066.128663       1.0      19.0       1.0       1.0
1   2.0   26899.708892  14921.934292       1.0      72.0       1.0       1.0
2   3.0   34388.840334  15866.447640       1.0      70.0       1.0       1.0
3   4.0    7159.829389   3218.099911       1.0      72.0       1.0       1.0
4   5.0  127746.359176  58973.611131       1.0      65.0       1.0       1.0

   DRDINTMD  DRDDAY  DRALANG  ...  DRQ370QQ  DRD370R  DRQ370RQ  DRD370S  \
0       1.0     4.0      1.0  ...       NaN      2.0       NaN      2.0
1       1.0     6.0      1.0  ...       NaN      2.0       NaN      2.0
2       1.0     7.0      2.0  ...       NaN      NaN       NaN      NaN
3       1.0     6.0      1.0  ...       NaN      2.0       NaN      2.0
4       1.0     2.0      1.0  ...       NaN      NaN       NaN      NaN

   DRQ370SQ  DRD370T  DRQ370TQ  DRD370U  DRQ370UQ  DRD370V
0       NaN      2.0       NaN      2.0       NaN      2.0
1       NaN      2.0       NaN      2.0       NaN      2.0
2       NaN      NaN       NaN      NaN       NaN      NaN
3       NaN      2.0       NaN      2.0       NaN      2.0
4       NaN      NaN       NaN      NaN       NaN      NaN

[5 rows x 133 columns]

,SEQN,SDDSRVYR,RIDSTATR,RIDEXMON,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDAGEEX,RIDRETH1,RIDRETH2,...,DRQ370QQ,DRD370R,DRQ370RQ,DRD370S,DRQ370SQ,DRD370T,DRQ370TQ,DRD370U,DRQ370UQ,DRD370V
0,1.0,1.0,2.0,2.0,2.0,2.0,29.0,31.0,4.0,2.0,...,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0
1,2.0,1.0,2.0,2.0,1.0,77.0,926.0,926.0,3.0,1.0,...,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0
2,3.0,1.0,2.0,1.0,2.0,10.0,125.0,126.0,3.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,1.0,2.0,2.0,1.0,1.0,22.0,23.0,4.0,2.0,...,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0
4,5.0,1.0,2.0,2.0,1.0,49.0,597.0,597.0,3.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
X_interesting = X.loc[:,['ELIGSTAT', 'MORTSTAT', 'PERMTH_INT', 'RIDAGEEX', 'DRXTKCAL','DRXTPROT', 'DRXTCARB', 'DRXTTFAT'] ]
X_interesting.head()

,ELIGSTAT,MORTSTAT,PERMTH_INT,RIDAGEEX,DRXTKCAL,DRXTPROT,DRXTCARB,DRXTTFAT
0,2,NaN,NaN,31.0,1358.88,31.96,250.36,27.24
1,1,1.0,177.0,926.0,2463.00,123.16,350.37,71.95
2,2,NaN,NaN,126.0,1517.69,40.19,233.63,49.94
3,2,NaN,NaN,23.0,1474.93,56.16,191.03,56.20
4,1,0.0,244.0,597.0,2658.14,97.13,253.98,114.52

1. Describe the data, particularly what an observation is and whether there are any missing data that might impact your analysis. Who collected the data and why? What known limitations are there to analysis? (10/100 pts)

The data is -. An observation of the data is a singular row, showing each unique value for all of the attributes within that row. There are missing data from the MORTSTAT, PERMTH_INT, DIABETES, and other columns. The data was collected by the CDC to use in their National Center for Health Statistics database,